<div class="flex flex-col">
    <div class="flex flex-col justify-center font-bold">
        <div class="flex justify-center">
            <div class="flex w-[90px] h-[90px] ">
                <img class="rounded-full w-full h-full object-cover" src="assets/pdp.jpg" alt="">
            </div>
        </div>
        <div class="flex text-center text-xl mt-4">
            {{ currentUser.name }}
        </div>
    </div>
    <div class="flex flex-col mt-8">
        <div class="flex pl-8 my-5 pb-2 cursor-pointer items-center justify-start border-b" (click)="navigate('dashboard')">
            <i class="pi pi-home pr-2" style="color: slateblue"></i> Dashboard
        </div>
        <div class="flex pl-8 my-5 pb-2 cursor-pointer items-center justify-start border-b" (click)="navigate('dashboard/transactions')">
            <i class="pi pi-book pr-2" style="color: slateblue"></i> My transactions
        </div>
        <div class="flex pl-8 my-5 pb-2 cursor-pointer items-center justify-start border-b" (click)="navigate('dashboard/refund')">
            <i class="pi pi-credit-card pr-2" style="color: slateblue"></i> Refund our account
        </div>
        <div class="flex pl-8 my-5 pb-2 cursor-pointer items-center justify-start border-b" (click)="navigate('dashboard/transfer')">
            <i class="pi pi-arrow-right-arrow-left pr-2" style="color: slateblue"></i> Transfer money
        </div>
        <div class="flex pl-8 my-5 pb-2 cursor-pointer items-center justify-start border-b" (click)="navigate('dashboard/withdraw')">
            <i class="pi pi-eject pr-2" style="color: slateblue"></i> Withdraw money
        </div>
    </div>
</div>