<div class="flex h-auto py-3 overflow-x-hidden items-center justify-between shadow-sm bg-gray-500	">
    <div class="flex ml-12">
        <div class="card flex justify-content-center">
            <p-sidebar [(visible)]="sidebarVisible">
                <app-sidebar></app-sidebar>
            </p-sidebar>
            <p-button (click)="sidebarVisible = true" icon="pi pi-align-justify"></p-button>
        </div>
        <div class="flex items-center justify-center pl-6 font-bold"><i class="pi pi-bolt pr-2" style="color: #1746A2"></i>Hero's Bank</div>
    </div>
    <div class="flex px-10">
        <div class="flex px-12 items-center rounded-md font-bold bg-[#f8f8ff] mr-1.5">
            <i class="pi pi-wallet pr-6" style="color: slateblue"></i> {{ currentUser.balance }} $
        </div>
        <div class="flex hover:cursor-pointer">
            <!-- <p-avatar icon="pi pi-user" pBadge styleClass="mr-5" shape="circle" size="large" [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"></p-avatar> -->
            <p-toast></p-toast>
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
            <p-avatar class="hover:cursor-pointer" (click)="menu.toggle($event)" shape="circle" size="large" icon="pi pi-user" [style]="{ 'background-color': '#2196f3', color: '#ffffff' }"></p-avatar>
        </div>
    </div>
</div>